h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    margin: 1em;
    padding: 1em;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    border: solid black 1px;
    border-radius: 0.1rem;
}