body {
    background-color: #F3F2FA;

}

.container {
    width:80%;
    display:flex;
    margin:0 auto;
    margin-top: 5em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: flex-start; */
    align-items: stretch;
}

.container>* {
    border-radius: 0.2em;
    width: 250px;
    height: auto;
    margin: 0.5em;
}

.card {
    text-align: center;
    padding: 1em;
    background-color: #d9d7f0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

:hover.card {
    background-color: #e7e6f6;
}

.ticker {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #151517;

}

.button {
    border-radius: 0.2em;
    width: 5em;
    height: 3em;
    background-color: #F3F2FA;
    color:#363554;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: solid #898999 0.1em;
    margin: 1em;
}

:hover.button {
    cursor: pointer;
}

img {
    max-width: 160px;
    max-height: 160px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #363554;
}

p {
    font-family: 'Roboto', sans-serif;
}
